@import "compass"
@import "base.css"

$link-color:         #0388a6
$link-hover-color:   #009ce0
$link-focus-color:   false
$link-active-color:  false
$link-visited-color: false

$font-color:  #2a2a2a
$font-family: sans-serif
$base-font-size:   12px
$base-line-height: 18px

$total-cols: 12
$col-width: 4em
$gutter-width: 1em
$side-gutter-width: $gutter-width

body
  font-family: $font-family
  color: $font-color

a
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

#main
  padding: 2px
  padding-top: 10px


#greeting
  font-family: 'Loved by the King', sans-serif
  text-align: center
  h1, h2
    line-height: 0.7em
    font-weight: normal
    font-size: 3em
    margin-bottom: 10px


img#arrow
  height: 98px
  width: 54px
  @include transition(height 0.2s linear 2s)
  &.hidden
    height: 0px

#mugshot, #thisguy
  opacity: 1
  @include transition(opacity 0.5s linear 2.2s)
  &.hidden
    opacity: 0

#whoyouask
  @include opacity(1)
  @include transition(opacity 0.5s ease-in-out 0.5s, line-height 0.5s linear 0.5s)
  &.hidden
    @include opacity(0)
    height: 0px
    line-height: 0px
    visibility: hidden

#who
  font-family: 'Loved by the King', sans-serif
  font-size: 2.2em
  height: 242px
  @include transition(height 0.3s linear 5s, opacity 0.3s ease-out 5s)
  &.hidden
    height: 0
    opacity: 0
